<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Bootstrap (Twitter)</string>
	<key>ordering</key>
	<array>
		<string>D9C00C5D-AA81-40DD-B21B-B6868B049A97</string>
		<string>9A7FC8A5-35AB-452B-8033-034105EE0E4A</string>
		<string>BD3F9A14-3C07-4C20-8E33-7D804ACA6C1D</string>
	</array>
	<key>uuid</key>
	<string>CBBABBB4-0AA9-4AF7-BABD-3C53AE92E27E</string>
</dict>
</plist>
